.navbar-cbu{
    /* background-color: #bf8d3c; Gold CBU*/
    background-color: #0f2542;
    
}

.white-word{
    color:azure;
}

#linkHome {
    background:none; border:none;
}

#fileInput{
    width: 25%;
}

#numberInput{
    text-align: center;
    width: 10%;
}

#numberSelection{
    text-align: center;
    width: 40%;
}